<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820983785017-f7sdli9g0vqp887tc2imleni9o083fpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820983785017-f7sdli9g0vqp887tc2imleni9o083fpn</string>
	<key>API_KEY</key>
	<string>AIzaSyAUOhbUYZtJMC8HA1jxF8YJxB3veWBSkK4</string>
	<key>GCM_SENDER_ID</key>
	<string>820983785017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KitchenCraft.KitchenCraft</string>
	<key>PROJECT_ID</key>
	<string>kitchencraft-4688f</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchencraft-4688f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820983785017:ios:d247ccd204d17960df4fe8</string>
</dict>
</plist>